body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

/*trang chủ*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    padding-bottom: 30px;
}

.menu ul {
    list-style: none;
    display: flex;
    padding: 0;
}

.logo img {
    height: 80px;
    width: 180px;
}

.sign-in {
    margin-left: auto;
    border: 1px solid rgb(75, 162, 243);
    border-radius: 6px;
}

.menu ul {
    list-style-type: none;
    padding: 20px;
}

.menu ul li {
    margin-right: 20px;
    display: inline;
}

.menu ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 0px 0px -10px;
    padding: 7px 25px 19px;
}

.menu ul li a:hover {
    border-bottom: 2px solid #007BFF;
}

.sign-in {
    text-align: center;
    float: right;
    margin-right: 10px;
}

.sign-in a {
    text-decoration: none;
    font-weight: 500;
}

.button-sign-in {
    padding: 16px 24px;
    align-items: center;
    border-radius: 6px;
    text-decoration: none;
    border: 0px;
}

.button-sign-in:hover {
    background-color: #9ac9fb;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.courses {
    padding: 30px;
}

.course {
    display: flex;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 3px;
    align-items: center;
}

.course img {
    height: 130px;
    width: 264px;
    margin-right: 10px;
}

.chuyende {
    display: inline-block;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 24px;
    line-height: 35.52px;
    font-weight: 400;
    color: #0075b4;
}

.mota {
    color: #5e5e5e;
    font-size: 14px;
    line-height: 20.72px;
}

.right-button {
    padding: 16px 24px;
    border: none;
    border-radius: 10px;
    width: 100px;
    border: 1px solid rgb(75, 162, 243);
    font-size: 14px;
}

.btn-xem {
    margin-left: auto;
}

.right-button:hover {
    background-color: #9ac9fb;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.course h3 {
    margin-top: 0;
}

.footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
    margin-top: 30px;
}

/* end trang chủ*/

/* đăng ký - đăng nhập - quên mật khẩu */
.form {
    background-color: #ffffff;
    padding: 30px;
    width: 350px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.common-class {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    color: #444444;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #3e8e41;
}

.title {
    text-align: center;
    margin-bottom: 20px;
    color: #444444;
}

.avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 30%;
    border-radius: 50%;
}

.link {
    color: #4CAF50;
}

.link:hover {
    color: #3e8e41;
}

.container {
    padding-top: 16px;
    text-align: center;
}

.solid {
    border: none;
    height: 1px;
    background-color: #cccccc;
    margin-top: 30px;
    margin-bottom: 30px;
}

.chuthich {
    text-align: center;
    color: #444444;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #444444;
}

.checkbox {
    display: inline-block;
    margin-right: 5px;
}

.date {
    width: 180px;
    height: 30px;
    font-size: 18px;
    padding-left: 10px;
    margin-bottom: 10px;
}
/* end đăng ký - đăng nhập - quên mật khẩu */

/* css lien he */

.tieude {
    color: white;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.conten {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
}

.noidung {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    border-radius: 5px;
}

.con_left {
    flex: 1;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-right: 20px;
}

.panel_heading {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.panel_body {
    padding: 10px 25px;
    font-size: 15px;
}

.panel_body p {
    margin: 0;
    padding: 5px 0;
}

.thongke {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.panel_body_1 li {
    margin: 0;
    padding: 5px 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.panel_body_1 li span {
    margin-right: 15px;
}

.dethimoi {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 35%;
}

.panel_body li {
    list-style-type: none;
}

.panel_body img {
    width: 100px;
    height: 100px;
    padding: 10px 20px 10px 0;
    vertical-align: middle;
}

.panel_body a {
    vertical-align: middle;
    text-decoration: none;
    color: #4CAF50;
    font-size: 20px;
}

.panel_body a:hover {
    color: #007bff;
}

/* end liên hệ */


/* giới thiệu */
.gioithieu {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.gioithieu h2 {
    font-size: 24px;
}

.gioithieup {
    font-size: 16px;
}

.gioithieu ul {
    list-style: none;
    padding: 0;
}

.gioithieu ul li {
    padding: 5px 0;
}

/* end giới thiệu */

/* profile */
.profile-main{
    display: flex;
}
.profile img {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    margin-right: 40px;
}

.profile {
    margin-left: auto;
    position: relative;
    display: inline-block;
}

.triangle-down {
    position: absolute;
    top: 50%;
    right: 10px;
    /* Điều chỉnh khoảng cách từ phải */
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
    /* Màu sắc của tam giác */
    cursor: pointer;
}


.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
}

/* .profile:hover .dropdown-menu {
    display: block;
} */

.dropdown-menu li {
    padding: 15px 10px;
    text-align: left;
}

.dropdown-menu li:hover {
    background-color: #cccccc;
    color: #5e5e5e;
}

.dropdown-menu li a {
    text-decoration: none;
    color: #000;
}
.information{
    box-sizing: border-box;
    background-color: #FFFFFF;
    padding: 0px 0px 20px;
    width: 300px;
    margin-top: 50px;
    border-top: 5px solid blue ;
}

.profile-img{
    background-color: #FFFFFF;
	border: 2.4px solid #F8F8F8;
	border-radius: 50%;
	box-sizing: border-box;
	margin: -30px 0px 0px;
	max-width: 70%;
	overflow: hidden;
	position: relative;
	vertical-align: middle;
}
.information p{
    text-align: left;
    font-size: 20px;
}

.document{
    margin-top: 150px;
}
<<<<<<< HEAD
.document ul li{
    list-style: none;
}



=======
>>>>>>> b9f0d8e0d44cde09fe6397130a571737efefe83e
/*end profile */

/* trang thi  */
.khungodapan {
    position: fixed;
    right: 10px;
      top: 75px;
    height: auto ;
    width: 27%;
    background-color: #FFFFFF;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.043) 0px 3px 20px 0px;
    box-sizing: border-box;
    padding: 12px;
    z-index: 49;
  }
  
      .dscauhoi {
          box-sizing: border-box;
      color: #1E293B;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      display: block;
      }
      .dapanso {
      margin-top: 10px;
      margin-left: 10px;
      align-items: flex-start;
      appearance: button;
      border: 1px solid #94A3B8;
      border-radius: 6px;
      box-sizing: border-box;
      color: #1E293B;
      cursor: pointer;
      display: inline-block;
      font-family: Roboto;
      font-size: 14px;
      line-height: 20px;
      padding: 4px;
      place-items: flex-start normal;
      text-align: center;
      height: 30px;
      width: 80px;
      }
    .dau {
      align-items: center;
      background-color: #FFFFFF;
      border: 1px solid rgba(226, 232, 240, 0.6);
      border-radius: 6px;
      box-shadow: rgba(0, 0, 0, 0.043) 0px 3px 20px 0px;
      box-sizing: border-box;
      display: flex;
      margin: 0px 0px 20px;
      padding: 8px;
      place-items: center normal;
      position: relative;
      justify-content: space-between;
      position: sticky;
    left: 10px;
    top: 10px;
    height: 5%;
  
  
    padding: 12px;
    z-index: 48;
  }
  
  .btn-thoat {
    background-color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 0.5px solid #ffffff ;
    height: 30px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
  }
  .fas{
      color: red;
  }
  .btn-thoat:hover {
    background-color: #90e3ee;
  }
  
  .tenthisinh {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 50%;
  }
  
  .btn-nopbai{
      float:right;
      align-items: center;
      appearance: button;
      background-color: rgba(30, 64, 175, 0.9);
      border: 1px solid rgba(30, 64, 175, 0.9);
      border-radius: 6px;
      box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.004) 0px 0.081876px 0.163752px 0px;
      box-sizing: border-box;
      color: #FFFFFF;
      cursor: pointer;
      display: inline-flex;
      font-family: Roboto;
      font-size: 12px;
      font-weight: 500;
      justify-content: center;
      line-height: 16px;
      padding: 6px 8px;
      place-content: normal center;
      place-items: center normal;
      text-align: center;
      transition-duration: 0.2s;
      transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
  .khungtraloi {
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color 0.3s ease;
      margin-left: 10px;
      background-color: #FFFFFF;
  
    }
    .khungtraloi .traloi0 {
      color:#FFFFFF ;
    }
  
    .khungtraloi .traloi {
      align-items: center;
      appearance: button;
      border: 1px solid rgba(226, 232, 240, 0.9);
      border-radius: 9999px;
      box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.004) 0px 0.0802685px 0.160537px 0px;
      box-sizing: border-box;
      color: #000000;
      cursor: pointer;
      display: inline-flex;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 500;
      justify-content: center;
      line-height: 20px;
      height: 40px;
      width: 40px;
      place-content: normal center;
      place-items: center normal;
      text-align: center;
      transition-duration: 0.2s;
      transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .khungtraloi.clicked {
      background-color: #F39C12;
  
    }
  
    .than {
    width: 70%;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.043) 0px 3px 20px 0px;
    background-color: #FFFFFF;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 15px;
    position: relative;
  }
    .khungcauhoi {
      padding: 10px;
  }
  .cauhoi {
      box-sizing: border-box;
      color: #1E293B;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 700;
      line-height: 21px;
  }
  
  .hoi {
  display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: #333333;
    box-sizing: border-box;
      max-width: 100%;
      overflow: auto hidden;
      position: relative;
      
  }
  
    .dapan {
    display: inline-block;
    margin: 0 10px;
    box-sizing: border-box;
      color: #1E293B;
      display: inline;
      font-family: Roboto;
      font-size: 16px;
      line-height: 21px;
      margin-left: auto;
  }
  .dapancuaban {
      align-items: center;
      box-sizing: border-box;
      display: flex;
      padding: 8px;
      place-items: center normal;
      background-color: #2C60A6;
      width: 100%;
      margin: 0 auto;
     
  }
  .traloi0 {
      box-sizing: border-box;
      color: #FFFFFF;
      display: inline;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
  }
  .countdown {
      display: flex;
      margin-left: 70%;
  }
  /* end trang thi  */

  /* trang account  */
.mainTT{
    padding-left:150px ;
}

.updateTT{
    padding-left: 50px;
}

.btn-capnhat{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 15%;
    transition: background-color 0.3s ease-in-out;
}

.btn-capnhat:hover {
    background-color: #3e8e41;
}