body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}
/*trang chủ*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
  }
  
  .menu ul {
    list-style: none;
    display: flex;
    padding: 0;
  }
  .logo img{
    height: 80px;
    width: 180px;
  }
  .sign-in {
    margin-left: auto;
  }
  
  .menu ul {
    list-style-type: none;
    padding: 20px;
  }
  
  .menu ul li {
    margin-right: 20px;
    display: inline;
  }
  
  .menu ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 0px 0px -10px;
    padding: 7px 25px 19px;
  }
  
  .menu ul li a:hover {
    border-bottom: 2px solid #007BFF;
  }
  
  .sign-in {
    text-align: center;
    float: right;
    margin-right: 10px;
  }
  
  .sign-in a {
    text-decoration: none;
    font-weight: 500;
  }
  
  .button-sign-in {
    padding: 16px 24px;
    align-items: center;
    border-radius: 6px;
    text-decoration: none;
    border: 0px;
  }
  
  .button-sign-in:hover {
    background-color: #9ac9fb;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .courses {
    padding: 30px;
  }
  
  .course {
    display: flex;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 15px;
    align-items: center;
  }
  .course img{
    height: 130px;
    width: 264px;
    margin-right: 10px;
  }
  .right-button {
    margin-left: auto;
    padding: 16px 24px;
    border: none;
    border-radius: 10px;
  }
  .right-button:hover{
    background-color: #9ac9fb;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .course h3 {
    margin-top: 0;
  }
  
  .footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
  }
/**/
.form {
    background-color: #ffffff;
    padding: 30px;
    width: 350px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.common-class {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    color: #444444;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #3e8e41;
}

.title {
    text-align: center;
    margin-bottom: 20px;
    color: #444444;
}

.avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 30%;
    border-radius: 50%;
}

.link {
    color: #4CAF50;
}

.link:hover {
    color: #3e8e41;
}

.container {
    padding-top: 16px;
    text-align: center;
}

.solid {
    border: none;
    height: 1px;
    background-color: #cccccc;
    margin-top: 30px;
    margin-bottom: 30px;
}

.chuthich {
    text-align: center;
    color: #444444;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #444444;
}

.checkbox {
    display: inline-block;
    margin-right: 5px;
}

.date {
    width: 180px;
    height: 30px;
    font-size: 18px;
    padding-left: 10px;
    margin-bottom: 10px;
}


/* css lienhe */


/* Toàn bộ giao diện */

.conten {
    display: flex;
    justify-content: space-between;
}


/* Bảng bên trái */

.con_left {
    width: 40%;
    border: 1px solid #034cde;
}


/* Panel heading */

.panel_heading {
    background-color: #034cde;
    padding: 10px;
    text-align: center;
}

.panel_heading_1 {
    background-color: #6cd40a;
    padding: 10px;
    text-align: center;
}


/* Tiêu đề */

.tieude {
    font-size: 1.5rem;
    font-weight: bold;
}


/* Panel body */

.panel_body {
    padding: 10px;
}


/* nội dung */

.noidung {
    padding-bottom: 10px;
}


/* Thống kê */

.ppanel_body_1 {
    list-style: none;
    margin-left: 1px;
}


/* Phản hồi */

.phanhoi {
    border: 1px solid #6cd40a;
    width: 30%;
}

.phanhoi select {
    width: 100%;
    margin-bottom: 10px;
}

.phanhoi input,
.phanhoi textarea {
    width: 100%;
    margin-bottom: 10px;
}

.phanhoi input[type="submit"] {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}


/* Đề thi mới */

.dethimoi {
    width: 20%;
}

.dethimoi li {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.dethimoi li img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.dethimoi li a {
    color: #000;
    text-decoration: none;
}